@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
  @apply select-none;
}

.fcc {
  @apply flex items-center justify-center;
}

.fc {
  @apply flex items-center;
}

.click\:scale {
  @apply active:scale-95 cursor-pointer duration-200;
}

.hover\:shadow-blue {
  @apply shadow-100;
}

.hover\:shadow-blue:hover {
  box-shadow: 0px 4px 50px 5px rgba(48, 168, 247, 0.05);
}

img {
  @apply pointer-events-none;
}

.container {
  @apply mx-auto lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm !important;
}